<!-- Footer starts -->
<footer class="foot">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Hamro Rooms</h3>
          <ul class="nav">
            <li><a href="#">About us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h3>Follow us</h3>
          <div class="social">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="address">
            <h3>Address</h3>
                <div class="row">
                  <div class="col-xs-2">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </div>
                  <div class="col-xs-10">
                    63 Munro St, Coburg, VIC 3058, Australia
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-2">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </div>
                  <div class="col-xs-10">
                    +61 0424 790 692
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-2">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  </div>
                  <div class="col-xs-10">
                    hamrorooms@gmail.com
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer ends -->

  <!-- Copyright starts -->
  <div class="copyright">
    Copyright (c) 2017 All Rights Reserved
  </div>
  <!-- Copyright ends -->
  
          
  <!--Importing js libraries-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>