<% include partials/header%>
        
        <!--Jumbotron starts-->
        <div class="jumbotron">
          <div class="jumbo-content">
            <div class="container text-center">
              <span id="app-name">Hamro Rooms</span>
              <span id="app-desc">Let's find you a room or a room-mate</span>
              <div id="search-banner" class="row">

                <form>
                  <div class="col-sm-2">
                    <select class="select">
                      <option>1</option>
                    </select>
                  </div>
                  <div class="col-sm-8">
                    <input type="text" name="" class="text" placeholder="Find your room">
                  </div>
                  <div class="col-sm-2">
                    <input type="submit" name="" value="Find" class="find">
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
        <!--Jumbotron ends-->

        <!-- Recently Added starts -->
        <div class="recent-added-items">
          <div class="container ">
          <h3 class="section-heading">Recently Added</h3>
          
            <div class="row">
              
              <div class="col-sm-4">
                <!-- Box for item -->
                <div class="recent-items">
                  <div class="image"></div>

                  <h5>201 Lorem Ipsum is simply</h5>
                  <p>
                    <span class="glyphicon glyphicon-hand-right"></span>
                    <span>2</span> 
                    <span class="glyphicon glyphicon-star"></span>
                    <span>lorem ipsum</span>
                  </p>
                  <div>
                    <span class="ri-more">$00</span>
                    <button class="ri-more">Details</button>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 text-center">
                <button class="click_here_btn">Click Here</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Recently Added ends -->

        <!-- Popular starts -->
        <div class="popular-items">
          <div class="container">
            <h3 class="section-heading">Popular items</h3>
            <div class="row r">

              <div class="col-sm-3 c">
                <div class="p-item">
                  <h3>Lorem Ipsum is simply</h3>
                  <img src="/images/vector.png" width="75px">
                  <p>lorem ipsum is really awesome</p>
                  <button class="p-item-read-more">Read More</button>
                </div>
              </div>

              <div class="col-xs-12 text-center">
                  <button class="click_here_btn">Click Here</button>
              </div>

            </div>
          </div>
        </div>
        <!-- Popular ends -->

        <!-- Testimony starts -->
        <div class="testimonials">
          <h2 class="text-center">Testimony</h2>
          <div class="container">
            <dir class="row r">
              <div class="col-sm-2 col-sm-offset-2" >
                <img src="https://www.rodalewellness.com/sites/rodalewellness.com/files/articles/2017/09/bored-man-1000.jpg" class="img-responsive">
              </div>
              <div class="col-sm-6">
                <p>Nam ac tincidunt orci. Mauris rutrum pellentesque magna, nec vestibulum libero commodo ac. Aenean malesuada est ac neque dignissim, non aliquam orci sollicitudin. Vestibulum vitae lacinia nibh, vitae consequat eros. Ut accumsan luctus nisl, vel auctor elit lobortis eu. Phasellus molestie urna in massa malesuada euismod. Pellentesque in tellus suscipit, eleifend justo a, facilisis turpis.</p>
              </div>
              <div class="col-sm-2"></div>
            </dir>
          </div>
        </div>
        <!-- Testimony ends -->
<% include partials/footer %>
        