<% include partials/header %>



<div class="container">
    <h1 class="text-center">This is your dashboard</h1>
    <div class="col-sm-3">
        <div class="list-group">
            <li class="list-group-item active">Add New Room</li>
            <li class="list-group-item">Update Profile</li>
            <li class="list-group-item">Logout</li>
            <li class="list-group-item">My Rooms</li>
        </div>
    </div>

    <div class="col-sm-9">
        <h2>ALL OF UPLOADED ROOMS</h2>
        <div class="row">

            <div class="col-sm-6">
                <h4>Title and title aldkj alkdj asd asdaaa  asjdfasdfqweor</h4>
            </div>

            <div class="col-sm-6">
                <button class="pull-right btn btn-danger">Delete</button>
                <button class="pull-right btn btn-success">Edit</button>
                <span class="pull-right">20 January 2017</span>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>